html, body{
    /* colors: https://coolors.co/fffbdb-44494b-ff9933-77a0a9-87bfff */
    --light-yellow: #fffbdbff;
    --davys-grey: #44494bff;
    --deep-saffron: #ff9933ff;
    --pewter-blue: #77a0a9ff;
    --french-sky-blue: #87bfffff;
    font-family: 'VT323', monospace;
    background: var(--light-yellow);
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-items: center;
    align-items: center;
}

#calculator-container {
    background: var(--davys-grey);
    color: whitesmoke;
    height: 750px;
    width: 700px;
    border: 2px solid black;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: 2fr 5fr;
}

#screen {
    background: var(--pewter-blue);
    margin: 32px;
    padding: 16px;
    border: 5px solid black;
    border-radius: 5px;
    text-align: right;
    max-width: 100%;
    display: grid;
    align-items: center;
    font-size: 7rem;
}

#buttons-container {
    padding: 30px;
    padding-top: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

#add {
    grid-row: 3 / 5;
    grid-column: 4;
    height: 96%;
}

#clear {
    background: var(--deep-saffron);
}

#clear-everything {
    color: var(--deep-saffron);
}

.button {
    font-family: 'VT323', monospace;
    font-size: 5rem;
    font-weight: bold;
    width: 90%;
    height: 90%;
    border-radius: 7px;
}

.button:active {
    filter: brightness(0.7);
    transform: scale(0.95);
}

.button:disabled {
    color: black;
    background: rgb(239, 239, 239);
    border-color: rgb(118, 118, 118);
}
